/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.foro-container {
    width: 100%;
    min-height: 90vh;
    display: flex;
    background-color: rgb(35, 12, 56);
}

/* BLOG BOX  */

.blogbox-container{
    flex: 8;
    /* background-color: rgba(255, 255, 255, 0.11); */
}

.box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LEFT-COLUMN */

.columnblogs-container {
    flex:2;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    text-align: center;
}

.blog-column-wrap{
    display: flex;
    flex-direction: column;
}

.section-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(64, 24, 102);
    transition: 400ms all;
}
.btn-link {
    color: #fff;
}

.section-btn:hover{
    background-color: rgb(75, 34, 114);
}

.first-btn{
    border-radius: 70px 70px 0 0;
}

.final-btn{
    border-radius: 0 0 70px 70px;
}



/* Message and AFQ */

/* first box */

.first-box-main{
display: flex;
flex-direction: column;
max-width: 600px;
min-width: 500px;
margin: 3rem 2rem 2rem 2rem;
background: #fff;
border-radius: 15px;
overflow: hidden;
box-shadow: 10px 10px 20px rgba(2, 0, 0, 0.664);
}

.header-stripe{
    width: 100%;
    background-color: rgb(75, 34, 114);
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    padding-left: 2rem;
    font-size: 25px;
}

.header-box{
    font-size: 18px;
    font-family: sans-serif;
    padding: 0rem;
}

.title-and-message{
    padding: 0 2rem;
}

.message-box{
    font-weight: bold;
    margin-bottom: 1rem;
}

.message-small-box{
    font-size: 17px;
}

.mark-blue-bold{
    color: rgb(75, 34, 114);
}

.description-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-pic{
    flex: 1;
    display: flex;
    height: 100%;
    padding: 0 .5rem;
}

.user-pic img{
    width: 60px;
    border-radius: 50%;
}

.comments-message-box{
    flex: 8;
    height: 50px;
    max-height: 80px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
}



.send-message-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.author-area{
    display: flex;
    gap: .5rem;
    color: rgb(75, 34, 114);
    }
    
.user-online-box{
    color: rgb(75, 34, 114);
}


/* mensaje de usuario offline */

.user-offline-warning{
    text-align: center;
    padding: 2rem 2rem;
    border-radius: 15px;
    background-color: #dc3545;
    margin: 2rem;
}

.warning-text{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

/* POST */

.post-box{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 500px;
    margin: 0.5rem 2rem 2rem 2rem;
    background: #fff;
    border-radius: 15px ;
    overflow: hidden;
    box-shadow: 10px 10px 20px rgba(2, 0, 0, 0.664);
}

.comments-message-post{
    flex: 8;
    height: 40px;
    display: flex;
    align-items: flex-start;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 0 15px;
}

.hidden-comments{
    display: none;
}

.autor-user{
    margin-top: 5px;
    margin-left: 3rem;
    color: rgb(75, 34, 114);
}

.arrow-box{
    padding: .5rem 0;
    width: 100%;
    text-align: center;
}
.fa-angles-down,
.fa-angles-up{
    transition: 200ms all;
}

.fa-angles-down:hover,
.fa-angles-up:hover{
    cursor: pointer;
    background-color: rgba(56, 14, 65, 0.411);
    outline: .5rem solid rgba(56, 14, 65, 0.411);
    border-radius: 50px;
}

.send-comments-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-box{
    display: flex;
}

.user-pic{
    flex: 2;
    justify-content: center;
}

.comments-bottom-box{
    flex: 8;
    max-height: 60px;
    width: 350px;
    border: none;
    outline: none;
}

.btn-send-comments{
    color: rgb(56, 14, 65);
    outline: none;
    padding: 1rem;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.btn-send-comments:active{
    font-size: larger;
}

.all-comments-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-comments-box{
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
}

.comments-bottom-post{
    margin-top: .5rem;
    width: 90%;
    font-family: sans-serif;
}

.autor-user-comments{
    margin-bottom: 1rem;
}

.trash-post{
    width: 87%;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 20px;
    text-align: end;
}

.fa-trash-can{
    cursor: pointer;
}



@media screen and (max-width: 760px) {
   

    .foro-container {
        flex-direction: column;
    }

    /* COLUMN */

    .blog-column-wrap{
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }

    .columnblogs-container {
        flex:1;
        flex-direction: row;
        padding: .9rem 0;
    }

    .section-btn{
        font-size: 12px;
        margin-bottom: 0;
        padding:  0 0.5rem;
        height: 100%;
    }

    .first-btn{
        padding: 0;
        border-radius: 70px 0 0 70px;
    }
    
    .final-btn{
        padding: 0;
        border-radius: 0 70px 70px 0;
    }


    /* BLOG BOX */

    .blogbox-container{
        flex: 9;
        
    }

    .first-box-main{
        min-width: 300px;
    }

    /* message */

    .send-message-bar{
        flex-direction: column;
    }

    /* post */
    
    .post-box{
        min-width: 300px;
    }

    .comments-bottom-box{
        width: 180px;
    }

    /* COMMENT */

    
}