@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.Info__container {
    /* Provisorio: */
    min-height: 90vh;
    font-family: sans-serif;
    background: url("../../assets/fondoInfoMobilDesigne.png") no-repeat;
    background-size: cover;
}

.Info-table{
    text-align: center;
    padding: 5rem 0;
}

.title-info{
    padding: 5rem 2rem 1rem;
    font-family: 'Sacramento', sans-serif;
    font-size: 40px;
    transform: rotate(-3deg);
}

.description-info{
    padding: .5rem 2rem;
    text-align: justify;
}

/* INFORMACION HOME */

.Info-table{
    margin-left: 10%;
}

.mark-bold{
    font-weight: bold;
    color: #281358;
}

.Info-table img{
    width: 200px;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 1px 2px 10px black;
}

/* QUERIS */

@media screen and (min-width: 1025px) {
    
    .Info__container {
        /* Provisorio: */
        min-height: 90vh;
        font-family: sans-serif;
    background: url("../../assets/fondoInfo.png") no-repeat;
        background-size: cover;
    }
    .title-info{
        padding: 7rem 2rem 1rem;
        font-size: 80px;
    }
    
    .description-info{
        font-size: 20px;
        line-height: 30px;
        padding: .5rem 6rem;
        text-align: justify;
    }

    .Info-table img{
        width: 600px;
        margin: 2rem;
        border-radius: 10px;
        box-shadow: 1px 2px 10px black;
        transition: all 1s;
    }

    .Info-table img:hover{
        transform: rotate(-10deg);
        cursor: grab;
    }

}


/* ***HEADER INFO*** */

*{
    list-style: none;
    text-decoration: none;
}

.sidebar {
    background: linear-gradient(90deg, rgb(34, 18, 61) 0%, rgb(50, 19, 99) 100%);
    z-index: 1;
    position: absolute;
    left: -250px;
    width: 250px;
    height: auto;
    transition: all .5s ease;
    border-radius: 0 0 25px 0;
}

.sidebar header {
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background: linear-gradient(90deg, rgb(43, 29, 94) 0%, rgb(48, 26, 128) 100%);
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1) ;
    border-bottom: 1px solid black;
    transition: .4s;
}

.sidebar ul a:nth-last-child(1) {
    border-bottom: none;
}

.sidebar ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn-sidebar,label #cancel-sidebar,label {
    background: #281358;
    border-radius: 3px;
    position: absolute;
    cursor: pointer;
}
label #btn-sidebar{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: #fff;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel-sidebar{
    z-index: 10;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #fff;
    padding: 4px 9px;
    transition: all .5s;
}

#check:checked ~ .sidebar {
    left: 0;
}
#check:checked ~ label #btn-sidebar {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel-sidebar {
    left: 195px;
}

/* NAVEGACIÓN DE CONCEPTOS */

.hidden-sidebar{
    
    display: none;
}

.show-sidebar {
    background: linear-gradient(90deg, rgb(29, 68, 94) 0%, rgb(26, 99, 128) 100%);
    font-style: italic;
    display: block;
}
.sidebar ul li ul li:hover{
    background: linear-gradient(90deg, rgb(49, 110, 151) 0%, rgb(33, 126, 163) 100%);
}


/* NAVEGACIÓN DE OTHERS */

.title-info-others{
    font-family: monospace, sans-serif;
    padding: 10rem 2rem 1rem;
    font-size: 40px;
}

.fa-dna{
    transform: rotate(9deg);
}

.underline{
    text-decoration: underline;
}

.giant{
    font-size: 30px;
}

.research:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* QUERIS */

@media screen and (max-width: 1025px) {
    .title-info-others{
        padding: 5rem 2rem 1rem;
        font-size: 25px;
    }
}


/* ***PAGINATION**** */

.paginationBtns{
    margin-top: 2rem;
    width: 100%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBtns a{
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #282828;
    color: #fff;
    cursor: pointer;
    background-color: #281358aa;
    outline: none;
    border: none;
    transition: 500ms all;
}

.paginationBtns a:hover{
    background-color: #483080aa;
}

.paginationActive{
    transform: scale(1.2);
}